*{
	margin: 0;
	padding: 0; 
}

.section-21{
	width: 100vw;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form-container{
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #CCD1D1;
	border-radius: 15px;
}

.text-top{
	font-size: 32px;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input{
	width: 15rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 15px;
	border: none;
	outline: none;
	padding: 0rem 0.5rem; 
	box-shadow: 2px 2px 6px rgba(0,0,0,0.4) , -2px -2px 3px rgba(255,255,255, 0.9);
	background-color: rgba(0,0,0,0);
}

input:focus{
	box-shadow: inset 2px 2px 6px rgba(0,0,0,0.4) , inset -2px -2px 12px rgba(255,255,255, 0.9);
}

#submit{
	width: 7rem;
	border-radius: 25px;
	background-color: var(--red);
}

#submit:hover,
#submit:focus{
	box-shadow: inset 2px 2px 6px rgba(0,0,0,0.4) , inset -2px -2px 12px rgba(255,255,255, 0.4);

}